flow_H.json
[{"id":"a1543a82.11f168","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"bc861806.bd57a8","type":"ui_template","z":"a1543a82.11f168","group":"bd015105.bc68b","name":"","order":0,"width":"6","height":"8","format":"<html>\n    <style>\n        body{\n            background-image:url('https://blog.datumbox.com/wp-content/uploads/2013/09/twitter2-720x540.jpg');\n            background-repeat:no-repeat;\n            background-position: left center;\n        }\n    </style>\n    <body>\n        <img ng-src={{msg.url}} alt=\"Image\">\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":940,"y":300,"wires":[[]]},{"id":"5fdd0dc4.618884","type":"ui_form","z":"a1543a82.11f168","name":"","label":"","group":"bd015105.bc68b","order":1,"width":0,"height":0,"options":[{"label":"Enter the tweet","value":"tweet","type":"text","required":true,"rows":null}],"formValue":{"tweet":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":160,"wires":[["ea68c612.7cdc08"]]},{"id":"ea68c612.7cdc08","type":"function","z":"a1543a82.11f168","name":"","func":"msg.payload = msg.payload.tweet\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":160,"wires":[["8c218c8d.d6545"]]},{"id":"20f8152b.7a101a","type":"debug","z":"a1543a82.11f168","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":100,"wires":[]},{"id":"8c218c8d.d6545","type":"watson-tone-analyzer-v3","z":"a1543a82.11f168","name":"","tones":"emotion","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2017-09-21","inputlang":"en","service-endpoint":"https://api.eu-gb.tone-analyzer.watson.cloud.ibm.com/instances/b8474d9f-3afc-4f19-b733-85ea517b5ef7","x":340,"y":220,"wires":[["e593ba92.af5738"]]},{"id":"e593ba92.af5738","type":"function","z":"a1543a82.11f168","name":"","func":"msg.payload = msg.response;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":160,"wires":[["8a8f85c6.f07ee8"]]},{"id":"8a8f85c6.f07ee8","type":"function","z":"a1543a82.11f168","name":"","func":"msg.payload=msg.payload.document_tone.tones[0].tone_name\nif(msg.payload=='Joy'){\n    msg.url=\"https://cdn.pixabay.com/photo/2019/02/19/19/45/thumbs-up-4007573__340.png\"\n}\nelse if(msg.payload=='Anger'){\n    msg.url=\"https://cdn.imgbin.com/18/17/15/imgbin-smiley-emoticon-anger-angry-emoji-pic-yellow-angry-emoji-illustration-Vv2G3tyL03AEaDUiJb8feYqLz.jpg\"\n}\nelse if(msg.payload=='Disgust'){\n    msg.url=\"https://img.favpng.com/25/4/13/smiley-emoticon-clip-art-png-favpng-2WxWxsM81bUSUiJyzUAGD2ANq.jpg\"\n}\nelse if(msg.payload=='Fear'){\n    msg.url=\"https://i.pinimg.com/originals/11/98/fd/1198fd1fc213b2df07b871d2d418a883.jpg\"\n}\nelse if(msg.payload=='Sadness'){\n    msg.url=\"https://i.pinimg.com/originals/09/fc/3b/09fc3ba997d72105b72c1463e2e2ae20.png\"\n}\nelse{\n    msg.url=\"https://lionbridge.ai/wp-content/uploads/2018/10/ai-terms_sentiment-analysis.jpg\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":220,"wires":[["20f8152b.7a101a","bc861806.bd57a8"]]},{"id":"bd015105.bc68b","type":"ui_group","z":"","name":"Inputs","tab":"2bbf83e.da7f77c","order":1,"disp":true,"width":"6","collapse":false},{"id":"2bbf83e.da7f77c","type":"ui_tab","z":"","name":"Twitter Sentiment Analysis","icon":"dashboard","disabled":false,"hidden":false}]